@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a,
input,
button {
	outline: none;
}

div {
	width: fit-content;
	width: -moz-available;
}

/* CONTAINERS */

.header-container {
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1331px;
	padding-left: 15px;
	padding-right: 15px;
}

/* HEADER */

.header-nav_item {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

/* SECTIONS */

.section-gray {
	background-color: #eef1f7;
}

.title {
	font-size: 56px;
	font-weight: 900;
	line-height: 60px;
}

.title-md {
	font-weight: 900;
	line-height: 60px;
	font-size: 48px;
}

.title-small {
	font-weight: 900;
	line-height: 56px;
	font-size: 48px;
}

.title-large {
	font-weight: 900;
	line-height: 66px;
	font-size: 56px;
}

/* SECTION: HERO */

.section-hero {
	background: linear-gradient(180deg, rgba(214, 218, 228, 0) 0%, rgba(214, 218, 228, 0.2) 100%);
}

.freeTrial_dot {
	width: 5px;
	height: 5px;
	margin: 0 10px;
	border-radius: 100%;
	background-color: black;
}

.partner {
	margin-right: 46px;
}

.partner:last-child {
	margin: 0;
}

/* SECTION: ABOUT */

.about-widget_item {
	max-width: 320px;
	margin-bottom: 10px;
	height: 70px;
}

.widget-item_btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	border-radius: 5px;
	color: #9ca0ac;
	font-size: 20px;
	font-weight: 500;
	height: 100%;
}

.widget-item_btn:hover {
	background-color: #f8f8f8;
	transition: all 150ms ease-in-out;
}

.item-btn_icon {
	margin-right: 15px;
}

/* SECTION: BENEFITS-1 */

.benefits-social_item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 230px;
	height: 182px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 12px #d8d8d8;
	margin-right: 20px;
}

.benefits-social_item:last-child {
	margin: 0;
}

/* ANYWHERE */

.font-maxbold {
	font-weight: 900;
}

.small-caps {
	font-variant-caps: small-caps;
}

.markable {
	padding: 0 5px;
}

.btn-blue {
	padding: 15px 16px;
	background-color: #0066ff;
	border-radius: 3px;
}

.btn-blue p {
	line-height: 20px;
	font-size: 15px;
	font-weight: 700;
	color: white;
}
