@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

div {
	width: fit-content;
	width: -moz-available;
}

/* CONTAINERS */

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1361px;
	padding-left: 30px;
	padding-right: 30px;
}

.container-center {
	width: 100%;
	margin: 0 auto;
	max-width: 1361px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1100px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
		max-width: 1331px;
	}

	.container-center {
		padding-left: 15px;
		padding-right: 15px;
		max-width: 1331px;
	}
}

/* HEADER */

.header-nav_item {
	display: flex;
	align-items: center;
	margin-right: 30px;
	height: 100%;
}

/* SECTIONS */

.section-gray {
	background-color: #eef1f7;
}

.section-dark {
	background-color: #111827;
}

/* SECTION: HERO */

.section-hero {
	background: linear-gradient(180deg, #d6dae400 0%, #d6dae420 100%);
}

.freeTrial_dot {
	width: 5px;
	height: 5px;
	margin: 0 10px;
	border-radius: 100%;
	background-color: black;
}

.partner {
	margin-right: 46px;
}

.partner:last-child {
	margin: 0;
}

@media screen and (max-width: 1100px) {
	.partner {
		margin: 10px 20px 10px 20px;
	}
}

@media screen and (max-width: 500px) {
	.freeTrial_dot {
		width: 4px;
		height: 4px;
		margin: 0 8px;
	}
}

/* SECTION: ABOUT */

.about-widget_item {
	max-width: 320px;
	margin-bottom: 10px;
	height: 70px;
	color: #9ca0ac;
}

.widget-item_btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	border-radius: 5px;
	color: inherit;
	fill: inherit;
	font-size: 20px;
	font-weight: 500;
	height: 100%;
}

.widget-item_btn:hover {
	background-color: #0000000f;
	transition: all 150ms ease-in-out;
}

.item-btn_icon {
	margin-right: 15px;
}

.about-widget_item_active {
	color: #0066ff !important;
}

.about-widget_item_active:hover button {
	background-color: #0066ff15;
}

.about-widget_item_active button {
	background-color: #0066ff15;
}

.about-widget_item_active .rect_active {
	fill: #0066ff;
}

@media screen and (max-width: 1400px) {
	.about-widget_item {
		margin: 5px;
	}

	.widget-item_btn {
		font-size: 18px;
		padding: 5px 15px;
	}

	.item-btn_icon {
		margin-right: 10px;
	}
}

@media screen and (max-width: 1100px) {
	.about-widget_item {
		height: auto;
	}

	.widget-item_btn {
		font-size: 16px;
		padding: 5px 10px;
	}

	.item-btn_icon {
		margin-right: 10px;
		width: 28px;
	}
}

@media screen and (max-width: 700px) {
	.about-widget_item {
		max-width: 100%;
		width: 100%;
	}

	.widget-item_btn {
		font-size: 15px;
		width: 100%;
		justify-content: space-between;
		background: #0000000a;
	}

	.item-btn_icon {
		margin-right: 8px;
		width: 25px;
	}
}

/* SECTION: BENEFITS-1 */

.benefits-social {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 230px;
	height: 182px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 12px #d8d8d8;
	margin-right: 20px;
}

.benefits-social:last-child {
	margin-right: 0;
}

.benefits-social_img {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}

.benefits-social_title {
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 4px;
}

.benefits-social_service {
	font-weight: 400;
	font-size: 22px;
	line-height: 22px;
}

@media screen and (max-width: 1400px) {
	.benefits-social {
		margin: 10px;
	}

	.benefits-social:last-child {
		margin: 10px;
	}
}

@media screen and (max-width: 700px) {
	.benefits-social {
		height: auto;
		padding: 20px 20px 30px 20px;
	}

	.benefits-social_img {
		width: 40px;
		height: 40px;
		margin-bottom: 15px;
	}

	.benefits-social_title {
		font-weight: 700;
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 4px;
	}

	.benefits-social_service {
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
	}
}

@media screen and (max-width: 550px) {
	.benefits-social {
		width: 100%;
		margin: 5px;
	}

	.benefits-social:last-child {
		margin: 5px;
	}
}

/* SECTION: BENEFITS-2 */

.benefits-advantage {
	width: 100%;
	height: 100%;
	max-width: 420px;
	max-height: 218px;
	background-color: #eef1f7;
	border-radius: 10px;
	padding: 20px;
	margin-right: 20px;
}

.benefits-advantage_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 37px;
	margin-bottom: 30px;
}

.benefits-advantage_iconBlock {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.advantage-iconBlock_text {
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
}

.benefits-advantage_description {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

@media screen and (max-width: 1100px) {
	.benefits-advantage {
		max-width: 620px;
		margin-bottom: 20px;
		margin-right: 0;
		max-height: none;
	}
}

@media screen and (max-width: 600px) {
	.benefits-advantage_title {
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 25px;
	}

	.benefits-advantage_iconBlock {
		margin-bottom: 5px;
	}

	.advantage-iconBlock_icon {
		margin-right: 8px;
		width: 20px;
	}

	.advantage-iconBlock_text {
		font-size: 20px;
	}

	.benefits-advantage_description {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	.benefits-advantage {
		margin-bottom: 10px;
	}

	.benefits-advantage_title {
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 15px;
	}

	.benefits-advantage_iconBlock {
		margin-bottom: 5px;
	}

	.advantage-iconBlock_icon {
		margin-right: 8px;
		width: 20px;
		height: 20px;
	}

	.advantage-iconBlock_text {
		font-size: 18px;
		line-height: 19px;
	}

	.benefits-advantage_description {
		font-size: 15px;
	}
}

/* SECTION: TEMPLATES */

.template_card {
	max-width: 310px;
	width: 100%;
	border-radius: 10px;
	margin-right: 20px;
}

.template-card_btn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: white;
	user-select: none;
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.template_card:last-child {
	margin: 0;
}

.template-card_preview,
.card-preview_img {
	border-start-start-radius: 10px;
	border-start-end-radius: 10px;
}

.template-card_preview {
	margin-bottom: 10px;
}

.card-preview_img {
	max-height: 250px;
}

.template-card_descriptionBlock {
	padding: 20px 30px 40px 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.card-descriptionBlock_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 37.5px;
	margin-bottom: 10px;
}

.card-descriptionBlock_description {
	font-size: 16px;
}

.carousel_ellipse {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	min-width: 10px;
	min-height: 10px;
	margin-right: 10px;
}

.ellipse_btn {
	border: 1px solid white;
	background: transparent;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.carousel_ellipse:last-child {
	margin: 0;
}

.carousel_ellipse_active button {
	background-color: white !important;
}

@media screen and (max-width: 900px) {
	.template_card {
		max-width: 100%;
		border-radius: 10px;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.template-card_btn {
		align-items: center;
	}

	.template-card_preview {
		width: 100%;
	}

	.card-preview_img {
		width: 100%;
		max-height: 200px;
		object-fit: cover;
	}
}

@media screen and (max-width: 600px) {
	.card-descriptionBlock_title {
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 500px) {
	.card-descriptionBlock_title {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
	}

	.card-descriptionBlock_description {
		font-size: 15px;
	}
}

/* SECTION: FEATURES */
.feature-tag {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 18px 10px;
	border-radius: 3px;
	background-color: #eef1f7;
	margin-right: 10px;
}

.feature-tag:last-child {
	margin: 0;
}

.feature-tag_icon {
	margin-right: 5px;
}

.feature-tag_text {
	font-size: 16px;
	line-height: 16px;
}

.platform {
	display: flex;
	align-items: center;
	justify-self: center;
	padding: 10px;
	background: white;
	max-width: 151.89px;
	min-height: 54.25px;
	border-radius: 5px;
	box-shadow: 0 0 10px #9ca0ac40;
	margin-bottom: 21.7px;
}

.platform:last-child {
	margin: 0;
}

.platform img {
	max-height: 36px;
}

@media screen and (max-width: 1300px) {
	.platform {
		padding: 14px;
		max-width: 200px;
		margin: 10px;
	}

	.platform:last-child {
		margin: 10px;
	}
}

@media screen and (max-width: 1200px) {
	.feature-tag {
		margin: 5px;
	}

	.feature-tag:last-child {
		margin: 5px;
	}
}

@media screen and (max-width: 700px) {
	.feature-tag {
		padding: 13px 10px;
	}

	.feature-tag_text {
		font-size: 15px;
	}

	.feature-tag_icon {
		margin-right: 8px;
	}
}

@media screen and (max-width: 600px) {
	.platform {
		max-width: 150px;
		margin: 5px;
	}

	.platform:last-child {
		margin: 5px;
	}
}

@media screen and (max-width: 500px) {
	.platform {
		max-width: 100px;
	}
}

/* SECTION: CTA */

.cta_card {
	box-shadow: 4px 4px 20px #9ca0accc;
	margin-right: 20px;
	border-radius: 10px;
	width: 270px;
	height: 385px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* SECTION: FEATURE 3 */

.feature-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 310px;
	min-height: 246px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(156, 160, 172, 0.4);
	padding: 22px;
}

.feature-card svg {
	margin-bottom: 20px;
}

.feature-card span {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 26px;
	font-weight: 900;
}

@media screen and (max-width: 500px) {
	.feature-card {
		max-width: 100%;
		width: 100%;
		padding: 20px 20px 30px 20px;
		min-height: auto;
	}

	.feature-card svg {
		margin-bottom: 10px;
		width: 40px;
	}

	.feature-card span {
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 22px;
	}

	.feature-card p {
		line-height: 19px;
	}
}

/* SECTION: SOCIAL PROOF VIDEO */

.play-triangle {
	position: relative;
	background-color: white;
	text-align: left;
}
.play-triangle:before,
.play-triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.play-triangle,
.play-triangle:before,
.play-triangle:after {
	width: 10em;
	height: 10em;
	border-top-right-radius: 30%;
}

.play-triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.play-triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}
.play-triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.play-wrapper {
	transform: rotate(90deg) scale(0.2);
}

@media screen and (max-width: 500px) {
	.play-wrapper {
		transform: rotate(90deg) scale(0.15);
	}
}

/* SECTION: SOCIAL PROOFS REVIEWS */

.proofs_review {
	max-width: 310px;
	min-height: 382px;
	width: 100%;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(156, 160, 172, 0.4);
	padding: 26px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.review_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.review_info .review_avatar {
	margin-bottom: 15px;
	width: 75px;
	height: 75px;
	border-radius: 13px;
}

.review_info .review_username {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 15px;
}

.review_info .review_comment {
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	margin-bottom: 50px;
}

.review_info .proof_rating {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.rating_star {
	margin-right: 5px;
}

.rating_star:last-child {
	margin: 0;
}

.review_google {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.review_google svg {
	margin-right: 10px;
}

.review_google p {
	color: #9ca0ac;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}

@media screen and (max-width: 500px) {
	.proofs_review {
		max-width: 100%;
	}

	.review_info {
		max-width: 320px;
	}
}

/* SECTION: PRICING */

.price-card {
	position: relative;
	margin: 5px;
}

.price-card_content {
	background: #ffffff;
	border: 1px solid #d6dae4;
	border-radius: 10px;
	padding: 30px;
	width: 100%;
}

.price-card_description {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 2;
	width: 100%;
}

.price-card_name {
	font-size: 28px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}

.price {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	font-family: 'Poppins';
	margin-bottom: 40px;
}

.price_cost {
	font-size: 48px;
	line-height: 42px;
}

.price-card_button {
	border: 2px solid #0066ff;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 15px;
	font-size: 16px;
	line-height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0066ff;
	width: 100%;
	font-weight: 700;
	margin-bottom: 40px;
}

.price-card_button_selected {
	background-color: #0066ff;
	color: white;
}

.price-card_selected {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	border: 5px solid #0066ff;
	z-index: 1;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.price-card_selected-header {
	height: 44px;
	width: 100%;
	background-color: #0066ff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: -40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.price-card_selected-header p {
	font-size: 14px;
	line-height: 16px;
	color: white;
	font-weight: 700;
	margin-bottom: 2px;
}

.pricing_question {
	width: 100%;
	margin-bottom: 20px;
}

.pricing_question details {
	transition: all 100ms ease-in-out;
	border-bottom: 2px solid #d6dae4;
	padding-bottom: 20px;
}

.pricing_question details[open] > summary > svg {
	transition: all 100ms ease-in-out;
	transform: rotate(180deg);
}

.pricing_question details summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.question_name {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
}

.question_answer {
	padding-top: 15px;
	font-size: 18px;
	line-height: 24px;
}

@media screen and (max-width: 700px) {
	.price-card-selected {
		margin-top: 45px;
	}

	.price-card {
		width: 100%;
	}
}

/* SECTINO: FOOTER */

.footer_block {
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	display: flex;
	margin-right: 50px;
}

.footer_block:last-child {
	margin: 0;
}

.block_name {
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 18px;
}

.block-list_item {
	line-height: 22px;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 8px;
	color: #d8d8d8;
	white-space: nowrap;
}

@media screen and (max-width: 800px) {
	.footer_block {
		margin-right: 0;
		margin-bottom: 40px;
	}

	.block_name {
		margin-bottom: 15px;
	}

	.block-list_item {
		margin-bottom: 5px;
	}
}

/* ANYWHERE */

.font-maxbold {
	font-weight: 900;
}

.small-caps {
	font-variant-caps: small-caps;
}

.marketable {
	padding: 0 5px;
}

.btn-blue {
	padding: 15px 16px;
	background-color: #0066ff;
	border-radius: 3px;
}

.btn-blue {
	line-height: 20px;
	font-size: 15px;
	font-weight: 700;
	color: white;
}

.badge {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 10px;
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.badge svg {
	margin-right: 10px;
}

.check {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.check svg {
	margin-right: 10px;
	min-width: 17px;
}

.text-description {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.text-description-md {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

@media screen and (max-width: 700px) {
	.text-description {
		font-size: 16px;
		line-height: 24px;
	}

	.text-description-md {
		font-size: 16px;
		line-height: 24px;
	}
}

@media screen and (max-width: 500px) {
	.text-description {
		font-size: 15px;
		line-height: 22px;
	}

	.text-description-md {
		font-size: 15px;
		line-height: 22px;
	}
}

.title {
	font-size: 56px;
	font-weight: 900;
	line-height: 60px;
}

.title-md {
	font-weight: 900;
	line-height: 60px;
	font-size: 48px;
}

.title-small {
	font-weight: 900;
	line-height: 56px;
	font-size: 48px;
}

.title-large {
	font-weight: 900;
	line-height: 66px;
	font-size: 56px;
}

@media screen and (max-width: 1100px) {
	.title {
		font-size: 46px;
	}

	.title-md {
		font-size: 40px;
	}

	.title-small {
		font-size: 40px;
	}

	.title-large {
		font-size: 46px;
	}
}

@media screen and (max-width: 700px) {
	.title {
		font-size: 42px;
		line-height: 50px;
	}

	.title-md {
		font-size: 36px;
		line-height: 40px;
	}

	.title-small {
		font-size: 36px;
		line-height: 40px;
	}

	.title-large {
		font-size: 42px;
		line-height: 50px;
	}
}

@media screen and (max-width: 600px) {
	.title {
		font-size: 34px;
		line-height: 38px;
	}

	.title-md {
		font-size: 30px;
		line-height: 32px;
	}

	.title-small {
		font-size: 30px;
		line-height: 32px;
	}

	.title-large {
		font-size: 34px;
		line-height: 38px;
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: 28px;
		line-height: 32px;
	}

	.title-md {
		font-size: 26px;
		line-height: 28px;
	}

	.title-small {
		font-size: 26px;
		line-height: 28px;
	}

	.title-large {
		font-size: 28px;
		line-height: 32px;
	}
}
