@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a,
input,
button {
	outline: none;
}

div {
	width: fit-content;
	width: -moz-available;
}

/* CONTAINERS */

.header-container {
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1331px;
	padding-left: 15px;
	padding-right: 15px;
}

/* HEADER */

.header-nav_item {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

/* SECTIONS */

.section-gray {
	background-color: #eef1f7;
}

.section-dark {
	background-color: #111827;
}

.title {
	font-size: 56px;
	font-weight: 900;
	line-height: 60px;
}

.title-md {
	font-weight: 900;
	line-height: 60px;
	font-size: 48px;
}

.title-small {
	font-weight: 900;
	line-height: 56px;
	font-size: 48px;
}

.title-large {
	font-weight: 900;
	line-height: 66px;
	font-size: 56px;
}

/* SECTION: HERO */

.section-hero {
	background: linear-gradient(180deg, #d6dae400 0%, #d6dae420 100%);
}

.freeTrial_dot {
	width: 5px;
	height: 5px;
	margin: 0 10px;
	border-radius: 100%;
	background-color: black;
}

.partner {
	margin-right: 46px;
}

.partner:last-child {
	margin: 0;
}

/* SECTION: ABOUT */

.about-widget_item {
	max-width: 320px;
	margin-bottom: 10px;
	height: 70px;
	color: #9ca0ac;
}

.widget-item_btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	border-radius: 5px;
	color: inherit;
	fill: inherit;
	font-size: 20px;
	font-weight: 500;
	height: 100%;
}

.widget-item_btn:hover {
	background-color: #0000000f;
	transition: all 150ms ease-in-out;
}

.item-btn_icon {
	margin-right: 15px;
}

.about-widget_item_active {
	color: #0066ff !important;
}

.about-widget_item_active button {
	background-color: #0066ff15;
}

.about-widget_item_active .rect_active {
	fill: #0066ff;
}

/* SECTION: BENEFITS-1 */

.benefits-social_item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 230px;
	height: 182px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 12px #d8d8d8;
	margin-right: 20px;
}

.benefits-social_item:last-child {
	margin: 0;
}

/* SECTION: BENEFITS-2 */

.benefits-2_card {
	width: 100%;
	height: 100%;
	max-width: 420px;
	max-height: 218px;
	background-color: #eef1f7;
	border-radius: 10px;
	padding: 20px;
	margin-right: 20px;
}

.card_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 37px;
	margin-bottom: 30px;
}

.card_description {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.card_iconBlock {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.iconBlock_text {
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
}

/* SECTION: TEMPLATES */

.template_card {
	max-width: 310px;
	min-height: 374px;
	width: 100%;
	border-radius: 10px;
	margin-right: 20px;
}

.template-card_btn {
	background-color: white;
	user-select: none;
	border-radius: 10px;
	height: 374px;
	width: 100%;
}

.template_card:last-child {
	margin: 0;
}

.template-card_preview,
.template-card_preview img {
	border-start-start-radius: 10px;
	border-start-end-radius: 10px;
	margin-bottom: 10px;
}

.template-card_description {
	padding: 20px;
	padding-right: 30px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.template-card_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 37.5px;
	margin-bottom: 10px;
}

.carousel_ellipse {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.ellipse_btn {
	border: 1px solid white;
	background: transparent;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.carousel_ellipse:last-child {
	margin: 0;
}

.carousel_ellipse_active button {
	background-color: white !important;
}

/* SECTION: FEATURES */
.feature-tag {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 13px 10px;
	border-radius: 3px;
	background-color: #eef1f7;
	margin-right: 10px;
}

.feature-tag:last-child {
	margin: 0;
}

.feature-tag svg {
	margin-right: 5px;
}

.platform {
	display: flex;
	align-items: center;
	justify-self: center;
	padding: 10px;
	background: white;
	max-width: 151.89px;
	min-height: 54.25px;
	border-radius: 5px;
	box-shadow: 0 0 10px #9ca0ac40;
	margin-bottom: 21.7px;
}

.platform:last-child {
	margin: 0;
}

.platform img {
	max-height: 36px;
}

/* SECTION: CTA */

.cta_card {
	box-shadow: 4px 4px 20px #9ca0accc;
	margin-right: 20px;
	border-radius: 10px;
	width: 270px;
	height: 385px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ANYWHERE */

.font-maxbold {
	font-weight: 900;
}

.small-caps {
	font-variant-caps: small-caps;
}

.markable {
	padding: 0 5px;
}

.btn-blue {
	padding: 15px 16px;
	background-color: #0066ff;
	border-radius: 3px;
}

.btn-blue p {
	line-height: 20px;
	font-size: 15px;
	font-weight: 700;
	color: white;
}

.badge {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 10px;
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.badge svg {
	margin-right: 10px;
}

.check {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.check svg {
	margin-right: 10px;
}

.text-description {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
